@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  .page {
    width: 210mm;
    height: 148.5mm;
    padding: 8mm;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    page-break-after: always;
    overflow: hidden;
  }

  .top-part {
    flex-grow: 1;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
  }

  th, td {
    border: 1px solid #000;
    padding: 2px 3px;
    text-align: left;
  }

  .footer {
    font-size: 9px;
    margin-top: 5px;
  }

  .contfooter {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .footer-note {
    font-size: 6px;
    text-align: center;
  }

  .btn, .btn-back {
    display: none !important;
  }
}


body {
  font-family: Arial, sans-serif;
  font-size: 10px;
  padding:10px;
}


.btn {
  background-color: blue;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  margin-top: 10px;
  height: 40px;
}
.btn:hover {
  background-color: darkblue;
}

.btn-back {
  background-color: green;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.btn-back:hover {
  background-color: darkgreen;
}

.btns {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.invoice-container {
  max-width: 100%;
  margin: auto;
  padding: 15px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
}

.heading h2 {
  font-size: 16px;
  margin: 0;
}

.invoice-no {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.date-top {
  font-size: 11px;
  text-align: right;
  margin-top: -5px;
}

.party-name {
  font-size: 13px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

th, td {
  border: 1px solid black;
  padding: 4px;
  text-align: center;
  font-size: 9px;
}

.prodbreakdown {
  margin-top: 8px;
  font-size: 11px;
}

.footer {
  margin-top: 10px;
}

.contfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  font-size: 10px;
  margin-bottom: 55px
}

.footer-note {
  font-size: 7px;
 text-align: center;
}
